<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo logoText">EssayZillion</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <div class="chip teal white-text">
          <img src="https://storage.googleapis.com/material-design/publish/material_v_10/assets/0B5-3BCtasWxEV2R6bkNDOUxFZ00/style_icons_product_human_best_do1.png" alt="Contact Person">
          <%= student.name %>
        </div>
      </li>
      <li><a href="/dashboard-s">Dashboard</a></li>
      <li><a href="/settings">Settings</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </div>
</nav>