<html>
    <% include ../partials/head %>
    <body>
        <% include ../partials/nav-s %>
        <br></br>
        <h4 class="center">Settings</h4>
        <br></br>
        <div class="row container">
            <form class="col s12" method="POST" action="/addCollege">
              <div class="row">
                  <div class="input-field col s12">
                    <select multiple name="collegeArray">
                      <option disabled>Choose your option</option>
                      <% for(var i=0; i<collegeArray.length; i++) {%>
                        <option value="<%= collegeArray[i]._id %>" data-icon="http://www.iconarchive.com/download/i90104/icons8/windows-8/Business-Graduation-Cap.ico" class="right circle">
                          <%= collegeArray[i].name %>
                        </option>
                      <% } %>
                    </select>
                    <label>Select Colleges</label>
                  </div>
              </div>
              <div class="center">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </form>  
            <div class="row">
              <div class="input-field col s12">
                <ul class="collection">
                  <% for(var i=0; i<collegeStudentArray.length; i++) {%>
                  <li class="collection-item">
                    <%= collegeStudentArray[i].name %>
                    <a class="secondary-content" href='/removeCollege/<%= collegeStudentArray[i]._id %>'>
                      <i class="material-icons">delete</i>
                    </a>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>